<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        <div class="row row-mt-15em">
          <div class="col-md-12 mt-text">
            <span class="intro-text-small text-center">Khaira Travels</span>
            <h1 class="text-center">Cancellation</h1>	
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="gtco-counter" class="gtco-section">
  <div class="gtco-container">

    <div class="row">
      <div class="col-md-12 text-center gtco-heading">
        <h3>Cancellation Policy</h3>
        <table class="table table-hover table-bordered" class="col-md-8">
          <thead>
            <tr>
              <th scope="col-md-4">Cancellation Cut off Time </th>
              <th scope="col-md-4">Cancellation Return Amount </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1 Minutes To 6 Hours</th>
              <td>0%</td>
              
            </tr>
            <tr>
              <th scope="row">6 Hours To 10 Hours</th>
              <td>80%</td>
            </tr>
            <tr>
              <th scope="row">10 Hours To 12 Hours</th>
              <td>85%</td>
            </tr>
            <tr>
              <th scope="row">More than 12 Hours</th>
              <td>90%</td>
            </tr>
            <tr>
              Partial Cancellation Is Not Possible.
              Ticket Cancellation Can Be Before 1 Minutes of Journey From Pickup Time.
              It Is Rights Of Khaira Travels To Change Cancellation Policy Any Time Without Prior To Notice
              Bookings from this site will be eligible for cancellation through Cancellation Form on this site only. No cancellation request will be entertained by any branch or agent office.
            </tr>
          </tbody>
        </table>
    </div>
    </div>
  </div>	
</div>