<footer id="gtco-footer" role="contentinfo" style="padding-top:30px;">
		<div class="gtco-container">
			<div class="row row-p	b-md">
				<div class="col-md-5">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>Khaira Travels Palia is one of the most prominent and old travel company.Khaira Travels owns more than 20 buses,and also provide travel options to Delhi,Punjab and other state of India.</p>
					</div>
				</div>

				<div class="col-md-2 col-md-push-2">
					<div class="gtco-widget">
						<h3>Destination</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Delhi</a></li>
							<li><a href="#">Punjab</a></li>
							<li><a href="#">Bareilly</a></li>
							<li><a href="#">Lucknow</a></li>
							
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-md-push-2">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i>+919990590944</a></li>
							<li><a href="#"><i class="icon-mail2"></i>khairatravels@gmail.com</a></li>
							
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">Managed by <a href="http://elinfinitoindia.in" target="_blank">El Infinito Technologies</a></small>
					</p>
				</div>
			</div>

		</div>
	</footer>