<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        <div class="row row-mt-15em">
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="container">
     
  </div>
</div>
<div class="row">
  <div class="container">
    <h2 class="text-center">Route Information</h2>
    <div class="col-md-12"> 
        <div class="col-md-4">
        <label for="routeInformation">Route</label>
        <select  id="routeInformation" class="form-control"  (change)="OnSelectionChange()">
          <option value="" selected disabled>Select Route</option>
          <option *ngFor="let c of Routes" [ngValue]="c">{{c}}</option>				
        </select>
        </div>
        <div class="col-md-6 col-md-push-2">
            <label for="routeInformation">Select Bus</label>
            <select  id="routeInformation" class="form-control"  (change)="OnSelectionChange()">
              <option value="" selected disabled>Select Bus</option>
              <option *ngFor="let c of Routes" [ngValue]="c">{{c}}</option>				
            </select>
        </div>
    </div>

    <div class="col-md-12">
      <span class="col-md-3">
          <label for="fromCity">From</label>
          <select  id="fromCity" class="form-control"  (change)="OnSelectionChange()">
            <option value="" selected disabled>Select City</option>
            <option *ngFor="let c of Option1" [ngValue]="c">{{c}}</option>				
          </select>
      </span>
      <span class="col-md-3">
          <label for="fromCity">To</label>
          <select  id="fromCity" class="form-control" (change)="OnSelectionChange()">
            <option value="" selected disabled>Select City</option>
            <option *ngFor="let c of Option2" [ngValue]="c">{{c}}</option>				
          </select>
      </span>
      <span class="col-md-3">
              <label for="date-start">Date Travel</label>
              <input id="dateTravel" class="form-control" type="date">
      </span>
      <span class="col-md-3">
          
              <label for="date-start">Date Travel</label>
              <input id="dateTravel" class="form-control" type="date" >
          
      </span>
      <p></p>
    </div>
      <div class="col-md-12 text-center" style="margin-top:10px;">
        <button class="btn btn-primary sec-padding" (click)="searchDetail()">Search</button>
      </div>
    </div>
  </div>

  <div id="gtco-counter" class="gtco-section section-padding">
      <div class="container ">
        <div>
          <app-seatlayout (onSeatSelected)="selectedSeats($event)" (onsubmitTicket)="onsubmitTicket($event)" [BookingModel]="bookingData">
          </app-seatlayout>
        </div>
      </div>
  </div>
  

