<div class="container">
  <div class="row text-center" style="margin-top:6%;">
    <div>
      <h2 class="text-center">Reports
        <!-- <span class="mycolor"></span> -->
      </h2>
      <div class="col-md-12">
        <div class="card">

          <div class="row">
            <div class="col-md-3">
              <label for="routeInformation">Select Route</label>
              <select id="routeInformation" class="form-control" [(ngModel)]="selectedRoute" (change)="OnRouteSelectionChange()">
                <option value="" selected disabled>Select Route</option>
                <option *ngFor="let c of Routes" value={{c.ID}}>{{c.RouteName}}</option>
              </select>
            </div>

            <div class="col-md-3">
              <label for="busInformation">Select Bus</label>
              <select id="busInformation" class="form-control" (change)="OnBusSelectionChange()" [(ngModel)]="reporting.BusID">
                <option value="" selected disabled>Select Bus</option>
                <option *ngFor="let c of Bus" [ngValue]="c.ID">{{c.BusDescription}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="date-start">Report By Date Travel</label>
              <input id="dateTravel" class="form-control" type="date" [(ngModel)]="reporting.JourneyDate" [disabled]="disableDate" (change)="OnDateSelectionChange()">
            </div>
            <div class="col-md-3">
              <label for="fromCity">Reports by days</label>
              <select id="fromCity" class="form-control" (change)="OnSelectionChange()" [(ngModel)]="reporting.Days" [disabled]="disableDays">
                <option value="" selected disabled>Select Days</option>
                <option *ngFor="let c of daysOptions" [ngValue]="c">"{{c}} days"</option>
              </select>
            </div>
          </div>
          <div class="row section-padding">
            <div class="col-md-4">
              <button class="btn btn-primary text-center" value="Generate Report" (click)="generateReports()"> Generate Report</button>
            </div>
          </div>

        </div>
      </div>
    </div>
<!-- Roprting grid -->
    <div class="row">
      <!-- <div class="row">
        <div class="col-md-4">
          <input *ngIf="config.filtering" placeholder="Filter all columns"
                 [ngTableFiltering]="config.filtering"
                 class="form-control"
                 (tableChanged)="onChangeTable(config)"/>
        </div>
      </div> -->
      <br>
      <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns">
      </ng-table>
      <pagination *ngIf="config.paging"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
      </pagination>
      <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
    </div>
  </div>
