<div class="row">
    <div class="container">
      <div class="col-md-6 col-md-push-3 section-padding" style="padding-top:68px;">
        <h1 class="text-center">Register <span class="mycolor">User </span></h1>
        
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required [(ngModel)]="user.Name">
          </div>
  
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="user.Email">
          </div>
          
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" [(ngModel)]="user.Password">
            </div>

          <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" [(ngModel)]="user.City">
          </div>

          <div class="form-group">
              <label>Mobile Number</label>
              <input type="number" class="form-control" [(ngModel)]="user.PhoneNo">
            </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="createUser()">Submit</button>
          </div>
        
      </div>
    </div>
  </div>