<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        <div class="row row-mt-15em">
          <div class="col-md-12 mt-text">
            <span class="intro-text-small text-center">Khaira Travels</span>
            <h1 class="text-center">BOOKINGS</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="gtco-counter" class="gtco-section bussearch">
  
     <div class="row" style="display:inline;" >
       
       
        <div class="col-md-3 text-center">
          <button>Return</button>
        </div>
        <div class="col-md-6 text-center">
            Dummy 1 to dummy 2 
           <span>date</span> 
        </div>
        <div class="col-md-3 text-center">
            <Button>
              Modify  
            </Button>
        </div>
     </div>
     </div>
  


     <div id="gtco-counter" class="gtco-section">
       <div class="row">
         <div class="col">Route Name</div>
         <div class="col">Departure</div>
         <div class="col">Arrival</div>
         <div class="col">Fare</div>
         <div class="col">Vacant</div>
         <div class="col">Book</div>

       </div>
       <div class="row" style="height:4rem;">
          <div class="col">Route Name</div>
         <div class="col">Departure</div>
         <div class="col">Arrival</div>
         <div class="col">Fare</div>
         <div class="col">Vacant</div>
         <div class="col">Book</div>
       </div>
       </div>