<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(./images/img_1.jpg)">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        <div class="row row-mt-15em">
          <div class="col-md-12 mt-text">
            <!-- <span class="intro-text-small text-center">Khaira Travels</span>
            <h1 class="text-center">BOOKINGS</h1> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="gtco-counter" class="gtco-section bussearch">
  <div class="row" style="display:inline;">
    <div class="col-md-3 text-center">
        <button class="btn btn-success">Return</button>
    </div>
    <div class="col-md-6 text-center">
      {{Source|uppercase}} to {{Destination|uppercase}}
      <span>{{DJourney}}</span>
    </div>
    <div class="col-md-3 text-center">
      <!-- <input type="button" value="Modify" class="btn btn-success" (click)="showModifySection()"> -->
      <button class="btn btn-success" (click)="showModifySection()">Modify</button>
    </div>
  </div>
  <div class="row" [ngClass]="{'hid': ishidTrue, 'vis': isShowTrue}">
      <div class="container">
        <div class="col-md-12">
          <span class="col-md-3">
          <strong>From City:</strong> 
            <input type="text" name="" id="">
          </span>
          <span class="col-md-3">
            To City:
            <br>
            <input type="text" name="" id="">
          </span>
          <span class="col-md-3">
            From Date:
            <input type="date" name="" id="">
          </span>
          <span class="col-md-3">
            To Date:
            <input type="date" name="" id="">
          </span>
          <p></p>
          <div>
            <button class="btn btn-success sec-padding" (click)="searchDetail()">Search</button>
          </div>
        </div>
      </div>
      </div>
  
</div>

<div id="gtco-counter" class="gtco-section section-padding">
  <div class="container">
    <div class="row" style="display:inline;">
      <div class="col-md-2 text-center" style="border:1px solid black;background:#EEEEEE;">
        Upper Berth-UP-B
      </div>
      <div class="col-md-2 text-center" style="border:1px solid black;background:#EEEEEE;">
        Lower Berth-LB
      </div>

      <div class="col-md-2 text-center" style="border:1px solid black;background:#91CAF0;">
        Selected
      </div>

      <div class="col-md-2 text-center" style="border:1px solid black;background:#32BEA4;">
        Booked
      </div>

      <div class="col-md-2 text-center" style="border:1px solid black;background:#A69EDB;">
        Ladies
      </div>
      <div class="col-md-2 text-center" style="border:1px solid black;background:#EEEEEE;">
        Available
      </div>
    </div>
  </div>
</div>
<div id="gtco-counter" class="gtco-section section-padding">

  <div class="row">
    <div class="container" style="border:1px solid black;color:black;margin-top:6px;">
      <div class="col-md-5">Route Name</div>
      <div class="col-md-1">Departure</div>
      <div class="col-md-1">Arrival</div>
      <div class="col-md-2">Fare</div>
      <div class="col-md-1">Vacant</div>
      <div class="col-md-2 text-center">Book</div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-md-12 bus-grid" >
        <div class="col-md-5">Palia To Delhi 2 X 2 (51) Seat - Sleeper A/C
          <p>Luxury AC / Seater - Sleeper</p>
        </div>
        <div class="col-md-1">4:30 am</div>
        <div class="col-md-1">6:00 am</div>
        <div class="col-md-2">500/600/700</div>
        <div class="col-md-1">dynamic contetn</div>
        <div class="col-md-2">
          <button class="btn btn-success" (click)="showSection()">Book</button>
          
        </div>
      </div>
      
    </div>
    <button class="btn btn-primary" (click)="submitTicket()">Submit</button>
    
    <app-seatlayout (onSeatSelected)="selectedSeats($event)">
       
    </app-seatlayout>
   
  </div>
  <div class="row">
    <div class="container">
      <div class="col-md-12 bus-grid" >
        <div class="col-md-5">Palia To Delhi 2 X 2 (51) Seat - Sleeper A/C
          <p>Luxury AC / Seater - Sleeper</p>
        </div>
        <div class="col-md-1">4:30 am</div>
        <div class="col-md-1">6:00 am</div>
        <div class="col-md-2">500/600/700</div>
        <div class="col-md-1">dynamic contetn</div>
        <div class="col-md-2">
          <button class="btn btn-success">Book</button>
        </div>
      </div>
    </div>
  </div>
  

  
