span{
    color:black;
}
input{
    color:black !important;
}
.sec-padding{
    padding:10px;
    margin-top: 15px;
}
.bus-grid{
    background:lightgrey;color:black;border-bottom:1px black solid;padding:10px;margin-bottom:10px;
}
.vis{
    display: inline;
}

.hid{
    display: none;
}
