<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        <div class="row row-mt-15em">
          <div class="col-md-12 mt-text">
            <span class="intro-text-small text-center">Khaira Travels</span>
            <h1 class="text-center">BOOKINGS</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="gtco-counter" class="gtco-section">
    <!-- <div class="row text-center bussearch">
      <div class="col-md-4">
          <span>Return</span>
      </div>

      <div class="col-md-4">
          dummy1 to dummy 2 date 
      </div>
      <div class="col-md-4">
          <span>Modify</span>
      </div>
   
    </div>
     -->
     <div class="row" style="display:inline;">
     <p class="text-left">left-aligned text.</p>
     <p class="text-center">Center-aligned text.</p>
     <p class="text-right"><Button>Modify</Button></p>
     </div>
  </div>	


