
/* You can add global styles to this file, and also import other style files */
input[type='date']
{
    width: 100%;
}

/* border for cancellation information  */
.cancellation-col{
    border:1px solid black;
}
.section-padding{
    padding-top: 17px;
}
/* background and color for home ticket booking form*/
.color-heading{
    background: #09C6AB;color:white
}
.form-noborder{
    border:0px !important;
}
.nopadding{
    padding:0px !important;
}
.header-padding
{
    padding:20px;
}
.bussearch{
    background-color:#d9edf7;
    color:black !important;
    margin-top: 4%;
    margin-bottom:3px;
    padding:0px;
}

/* modification details */
.vis{
    display: inline;
}

.hid{
    display: none;
}

.border{
    border-left: 4px solid red;
   

}

.removeborder{
    border-left:0px solid;
}

.card{
    border:1px solid darkgray;
    padding: 3%;
    -webkit-box-shadow: -4px 6px 6px 2px rgba(204,202,204,1);
    -moz-box-shadow: -4px 6px 6px 2px rgba(204,202,204,1);
    box-shadow: -4px 6px 6px 2px rgba(204,202,204,1);

}

