
/* You can add global styles to this file, and also import other style files */
input[type='date']
{
    width: 100%;
}

/* border for cancellation information  */
.cancellation-col{
    border:1px solid black;
}
.section-padding{
    padding-top: 17px;
}
/* background and color for home ticket booking form*/
.color-heading{
    background: #09C6AB;color:white
}
.form-noborder{
    border:0px !important;
}
.nopadding{
    padding:0px !important;
}
.header-padding
{
    padding:20px;
}
.bussearch{
    background-color:cadetblue;
    color:black;
    margin-top:10px;
    padding:0px;
}
/* Toaster CSS*/