/* You can add global styles to this file, and also import other style files */
input[type='date']
{
    width: 100%;
}

/* border for cancellation information  */
.cancellation-col{
    border:1px solid black;
}
.section-padding{
    padding-top: 17px;
}