<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        <div class="row row-mt-15em">
          <div class="col-md-12 mt-text">
            <span class="intro-text-small text-center">Khaira Travels</span>
            <h1 class="text-center">BOOKINGS</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="container">
    <div class="col-md-8 col-md-push-2 section-padding">
      <h1 class="text-center">My Booking</h1>
      <form>
        <div class="form-group">
          <label for="Booking Number">Booking Number</label>
          <input type="text" class="form-control" id="booking_number" required>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
