<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="mainchart">
        <div class="charts" style="width: 369px;height: 360px;">
          <div class="Legend">
          </div>
          <div class="deska">
            <div class="ublb" style="left:328.0625px;">UB</div>
            <div class="ublb" style="left:292.5px;">UB</div>
            <div class="ublb" style="left:328.0625px;">UB</div>
            <div class="ublb" style="left:292.5px;">UB</div>
            <div class="ublb" style="left:328.0625px;">UB</div>
            <div class="ublb" style="left:292.5px;">UB</div>
            <div class="ublb" style="left:328.0625px;">UB</div>
            <div class="ublb" style="left:292.5px;">UB</div>
            <div class="ublb" style="left:328.0625px;">UB</div>
            <div class="ublb" style="left:292.5px;">UB</div>
            <div class="ublb" style="left:43.5625px;">UB</div>
            <div class="ublb" style="left:79.125px;">UB</div>
            <div class="ublb" style="left:43.5625px;">UB</div>
            <div class="ublb" style="left:79.125px;">UB</div>
            <div class="ublb" style="left:43.5625px;">UB</div>
            <div class="ublb" style="left:79.125px;">UB</div>
            <div class="ublb" style="left:43.5625px;">UB</div>
            <div class="ublb" style="left:79.125px;">UB</div>
            <div class="ublb" style="left:43.5625px;">UB</div>
            <div class="ublb" style="left:221.375px;">LB</div>
            <div class="ublb" style="left:256.9375px;">LB</div>
            <div class="ublb" style="left:221.375px;">LB</div>
            <div class="ublb" style="left:256.9375px;">LB</div>
            <div class="ublb" style="left:221.375px;">LB</div>
            <div class="ublb" style="left:256.9375px;">LB</div>
            <div class="ublb" style="left:221.375px;">LB</div>
            <div class="ublb" style="left:256.9375px;">LB</div>
            <div class="ublb" style="left:221.375px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:185.8125px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
            <div class="ublb" style="left:150.25px;">LB</div>
            <div class="ublb" style="left:114.6875px;">LB</div>
          </div>

          <div class="desk">
            <div class="chartborder" #seats>
              <div class="divseat " (click)="bookSeat($event)" style="top:297px; left:330.0625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover">
                SJ
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:297px; left:294.5px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-placement="top">
                SI
              </div>

              <div class="divseat" (click)="bookSeat($event)" style="top:234.33333333333331px; left:330.0625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-placement="top">
                SH
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:234.33333333333331px; left:294.5px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-placement="top">
                SG
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:171.66666666666666px; left:330.0625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover">
                SF
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:171.66666666666666px; left:294.5px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover">
                SE
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:109px; left:330.0625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-placement="top">
                SD
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:109px; left:294.5px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>SC</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                SC
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:46.33333333333333px; left:330.0625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>SB</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                SB
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:46.33333333333333px; left:294.5px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>SA</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                SA
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:297px; left:45.5625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S9</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S9
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:234.33333333333331px; left:81.125px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S8</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S8
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:234.33333333333331px; left:45.5625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S7</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S7
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:171.66666666666666px; left:81.125px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S6</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S6
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:171.66666666666666px; left:45.5625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S5</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S5
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:109px; left:81.125px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S4</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S4
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:109px; left:45.5625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S3</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S3
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:46.33333333333333px; left:81.125px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S2</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S2
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:297px; left:81.125px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S10</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S10
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:46.33333333333333px; left:45.5625px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>S1</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>600</td></tr></table>"
                data-placement="top">
                S1
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:297px; left:223.375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D9</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D9
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:234.33333333333331px; left:258.9375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D8</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D8
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:234.33333333333331px; left:223.375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D7</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D7
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:171.66666666666666px; left:258.9375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D6</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D6
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:171.66666666666666px; left:223.375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D5</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D5
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:109px; left:258.9375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D4</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D4
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:109px; left:223.375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D3</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D3
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:46.33333333333333px; left:258.9375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D2</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D2
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:297px; left:258.9375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D10</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D10
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:46.33333333333333px; left:223.375px;width:28.333333333333332px;height:55.125px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>D1</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>700</td></tr></table>"
                data-placement="top">
                D1
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:171.66666666666666px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>9</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                9
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:140.33333333333331px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>8</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                8
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:140.33333333333331px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>7</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                7
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:109px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>6</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                6
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:109px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>5</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                5
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:77.66666666666666px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>4</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                4
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:77.66666666666666px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>3</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                3
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:328.3333333333333px; left:187.8125px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>21</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                21
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:328.3333333333333px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>20</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                20
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:46.33333333333333px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>2</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                2
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:328.3333333333333px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>19</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                19
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:297px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>18</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                18
              </div>
              <div class="divseat " (click)="bookSeat($event)" style="top:297px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>17</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                17
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:265.66666666666663px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>16</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                16
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:265.66666666666663px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>15</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                15
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:234.33333333333331px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>14</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                14
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:234.33333333333331px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>13</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                13
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:203px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>12</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                12
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:203px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>11</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                11
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:171.66666666666666px; left:152.25px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>10</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                10
              </div>
              <div class="divseat" (click)="bookSeat($event)" style="top:46.33333333333333px; left:116.6875px;width:28.333333333333332px;height:26.5625px;"
                data-container="body" data-original-title="Seat Details" data-toggle="popover" data-trigger="hover" data-content="<table><tr><th align=left>Seat No:</th><td>1</td></tr><tr><th align=left>Seat Type:</th><td>Seater</td></tr><tr><th align=left>Seat Rate:</th><td>500</td></tr></table>"
                data-placement="top">
                1
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5" style="border: 1px solid black;
                margin-top: 1%;
                padding: 1%;" [hidden]="totalAmount == 0" *ngIf="!isAdmin">
      <h4 class="text-center">Select Gender</h4>
      
      <div class="row" *ngFor="let seat of CurentBookedSeats;let i=index;">
        <div class="col-sm-4">
          <span style="float:right;">{{seat.SeatId}} - Gender</span>
        </div>
        <div class="col-sm-8">
          <select [(ngModel)]="seat.Gender">
            <option selected disabled>-choose-</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
      <div class="row section-padding">
        <div class="col-sm-12">
          <span>Total Amount:</span>
          <span>
            <h4 style="display:inline-block">{{totalAmount}}</h4>
          </span>
        </div>
      </div>

      <div class="row text-center section-padding">
        <div class="col-sm-12">
          <button class="btn btn-primary" (click)="submitTicket1()">Submit</button>
        </div>
      </div>

    </div>
    <div class="col-md-5" *ngIf="isAdmin">
      <div class="col-sm-12" style="border:1px black solid">
        <h2 class="text-center">Passenger Details</h2>
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="Data.Name" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Mobile</label>
          <input type="text" [(ngModel)]="Data.PhoneNo" class="form-control">
        </div>

        <div class="row" *ngFor="let seat of CurentBookedSeats;let j=index;">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <span style="float:right;">{{seat.SeatId}} - Gender</span>
            </div>
            <div class="col-sm-8">
              <select [(ngModel)]="Data.Gender">
                <option selected disabled>-choose-</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" (click)="SubmitBookingDetails()">Submit</button>
        </div>
      </div>
    </div>
