<div class="row">
    <div class="container">  
    <div class="col-sm-8">
        
            <div class="form-group">
              <label for="passenger_name">Name</label>
              <input type="text" class="form-control" id="passenger_name" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="mobile_number">Mobile</label>
                <input type="text" class="form-control" id="mobile_number">
              </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </div>
  </div>

</div>